@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #0f172a; /* slate-900 */
}

/* Custom Selection */
::selection {
  background: #f59e0b; /* amber-500 */
  color: white;
}
